.f-try
  form
    input.textfield(type="text", name="try_name" placeholder="Имя")
    input.textfield(type="text", name="try_surname" placeholder="Фамилия")
    select.select
      option(disabled, selected) Направление
      option Exotic PoleDance
      option Crossfit
      option Zumba Deluxe
    input.textfield(type="phone", name="try_phone", placeholder="+375 (__) ___ - __ - __")
    button(type="submit", class="btn btn_tryform") Записаться на занятие
