section.l-features.hide-mobile
  .features
    hr(class="line line_short")
    h2.features__title 5 причин почему PoleDeluxe?
    ul.features__list
      li.features__item
        img.features__icon(src="../img/heart.svg")
        span.features__text Индивидуальный подход
      li.features__item
        img.features__icon(src="../img/heart.svg")
        span.features__text Профессиональные тренера
      li.features__item
        img.features__icon(src="../img/heart.svg")
        span.features__text Комфортные условия тренировок
      li.features__item
        img.features__icon(src="../img/heart.svg")
        span.features__text Специальное оборудование
      li.features__item
        img.features__icon(src="../img/heart.svg")
        span.features__text Скидки и акции для клиентов