ul.mobilemenu
      li.mobilemenu__item
        a.mobilemenu__link(href="")
          span.mobilemenu__text Для взрослых
      li.mobilemenu__item
        a.mobilemenu__link(href="")
          span.mobilemenu__text Для детей
      li.mobilemenu__item
        a.mobilemenu__link(href="")
          span.mobilemenu__text Расписание
      li.mobilemenu__item
        a.mobilemenu__link(href="")
          span.mobilemenu__text Преподаватели
      li.mobilemenu__item
        a.mobilemenu__link(href="")
          span.mobilemenu__text Акции и цены
      li.mobilemenu__item
        a.mobilemenu__link(href="")
          span.mobilemenu__text Инфо
      li.mobilemenu__item
        a.mobilemenu__link(href="")
          span.mobilemenu__text Контакты