section.l-news
  .news
    hr(class="line line_short")
    h2.news__title Последние новости школы
    .news__list
      .t-news
        img.t-news__img(src="img/news/news1.jpg", srcset="img/news/news1@2x.jpg 2x,img/news/news1@3x.jpg 3x")
        h3.t-news__title Новая программа для детей
        p.t-news__desc Nunc aliquam ipsum quis neque dictum volutpat. Donec dapibus lacinia nisi, eu porta diam bibendum non. Etiam interdum risus quis magr. Etiam in massa ut risus condimentum bibendum.
        button.t-news__btn Подробнее ...
      .t-news
        img.t-news__img(src="img/news/news2.jpg", srcset="img/news/news2@2x.jpg 2x,img/news/news2@3x.jpg 3x")
        h3.t-news__title Как помогает солярий
        p.t-news__desc Nunc aliquam ipsum quis neque dictum volutpat. Donec dapibus lacinia nisi, eu porta diam bibendum non. Etiam interdum risus quis magr. Etiam in massa ut risus condimentum bibendum.
        button.t-news__btn Подробнее ...
      .t-news
        img.t-news__img(src="img/news/news3.jpg", srcset="img/news/news3@2x.jpg 2x,img/news/news3@3x.jpg 3x")
        h3.t-news__title Что такое кросс-фит?
        p.t-news__desc Nunc aliquam ipsum quis neque dictum volutpat. Donec dapibus lacinia nisi, eu porta diam bibendum non. Etiam interdum risus quis magr. Etiam in massa ut risus condimentum bibendum.
        button.t-news__btn Подробнее ...
