section.promo
  header.promo__header
    hr.line.line_short
    h2.promo__title Акции и цены
  .promo__content
    .slider_promo
      img.slider__image_promo(src="/img/promo/promo1.jpg", srcset="img/promo/promo1@2x.jpg 2x, img/promo/promo1@3x.jpg 3x" alt="Акция")
    include f-promo.pug
  a.promo__btn(href="/price.html") Посмотреть все цены и акции

