section.l-slider
  .slider
    div.slider__form
      span.slider__title Первое пробное занятие со скидкой 75%!
      include f-try4free.pug
    div.slider__desc
      strong Запись занятий по телефону
      br
      span.slider__phone +375 29 539-39-36
      br
      span.slider__text Для всех желающих, кто хочет научиться красиво танцевать, подтянуть фигуру, развить гибкость и пластику тела, научиться выполнять головокружительные трюки.
