if !isFooter
  ul.social
        li.social__item
          a.social__link(href="")
            img.social__icon(src="img/facebook-logo-button.svg", alt="facebook")
        li.social__item
          a.social__link(href="")
            img.social__icon(src="img/vk-social-logotype.svg", alt="vKontakte")
        li.social__item
          a.social__link(href="")
            img.social__icon(src="img/youtube-logotype.svg", alt="Youtube")
else
  ul.social.social_big
      li.social__item
        a.social__link.social__link_big(href="")
          img.social__icon.social__icon_big(src="img/facebook-logo-button.svg", alt="facebook")
      li.social__item
        a.social__link.social__link_big(href="")
          img.social__icon.social__icon_big(src="img/vk-social-logotype.svg", alt="vKontakte")
      li.social__item
        a.social__link.social__link_big(href="")
          img.social__icon.social__icon_big(src="img/youtube-logotype.svg", alt="Youtube")