if !isFooter
  ul.social
        li.social__item
          a.social__link(href="https://www.instagram.com/poledeluxe_vitebsk/")
            img.social__icon(src="/img/instagram-logo.svg", alt="Instagram")
        li.social__item
          a.social__link(href="https://www.youtube.com/channel/UCEkprx4FhoecTXnatscmwOA")
            img.social__icon(src="/img/youtube-logotype.svg", alt="Youtube")
        li.social__item
          a.social__link(href="https://vk.com/poledeluxe")
            img.social__icon(src="/img/vk-social-logotype.svg", alt="vKontakte")
else
  ul.social.social_big
      li.social__item
        a.social__link.social__link_big(href="")
          img.social__icon.social__icon_big(src="/img/vk-social-logotype.svg", alt="vKontakte")
      li.social__item
        a.social__link.social__link_big(href="")
          img.social__icon.social__icon_big(src="/img/youtube-logotype.svg", alt="Youtube")