.l-aboutus {
  background-color: $color-dark;
  @include from($md){
    background:transparent url('../img/bg_about.jpg') center top no-repeat;
  }
  background-size: auto 100%;
  &_compact {
    background-size: 80%;
  }
}
.aboutus {
  @include row-flex();
  @include wrapper();
  padding: 6rem 0 4rem 0;
  flex-direction: row-reverse;
  &__block {
    @include size(5);
    @include size-sm(12);
  }
  &__img {
    width: 379px;
    max-width: 100%;
    height: auto;

  }
  &__title {
    padding-bottom: .7em;
    font-size: 28px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
  }
  &__desc {
    padding: 0;
    margin: 0;
    text-align: justify;
    margin-bottom: 2rem;
    letter-spacing: 1px;
    line-height: 24px;
    font-weight: 300;
  }
  &__btn {
    @extend .btn;
    font-size: 20px;
    padding: .9em 2.5em;
  }
}