  $easing: cubic-bezier(.6, .05, .28, .91);
  .hamburger {
    position: fixed;
    top: 0;
    z-index: 5;
    right: 0;
    transition: right 500ms $easing;
    background-image: linear-gradient(to bottom, #fcfa89, #faa72b);
     @include from($sm) {
        display: none;
    }
    &.is-active {
      right: 223px;
    }
  }
  .mobilemenu {
    position: fixed;
    z-index: 4;
    overflow: auto;
    top: 0px;
    right: -265px;
    width: 275px;
    text-align: left;
    opacity: 0;
    margin: 0;
    list-style: none;
    padding: 60px 10px 20px;
    height: 100%;
    background-color: #121317;
    color: $color-text-light;
    transition: all 350ms $easing;
    &.is-active{
      right: 0;
      opacity: 1;
      box-shadow: -2px 0 1px -1px rgba(134, 134, 134, 0.87);
    }
    &__link {
      color: $color-text-light;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 15px;
      letter-spacing: 1px;
      font-weight: 400; 
      line-height: 1.7;
      padding: .3em .2em;
      display: block;
      border-bottom: 1px solid #232323;
      &:hover, &:focus {
        background-color: transparentize($color-text-light, .4);
      }

    }
  }