.l-news {
  background-image: linear-gradient(to bottom, #d8d8d8, #1e1e1e);
  @include from($md){
    background:transparent url('../img/bg_news.jpg') center top no-repeat;
  }
  background-size: cover;
}
.news {
  @include row-flex();
  @include wrapper();
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 62px 0 0;
  @include to($sm) {
    padding-left: 2vw;
    padding-right: 2vw;
  }

  &__list {
    @include row-flex();
    @include wrapper();
    justify-content: space-between;
    padding-bottom: 4rem;
    @include to($sm) {
      padding-left: 2vw;
      padding-right: 2vw;
    }
  }

  &__title {
    @include to($sm) {
      padding-left: 2vw;
      padding-right: 2vw;
      font-size: 30px;
      padding-bottom: 0;
    }
    padding-bottom: 1em;
    font-family: Roboto Condensed;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    color: $color-text-dark;
  }
}
.t-news {
  @include size(4);
  @include size-md(6);
  @include size-sm(12);
  @include to($sm) {
    width: 95vw;
  }
  display: flex;
  flex-direction: column;
  font-family: Roboto Condensed;
  text-align: left;
  padding: .1em;
  transition: box-shadow cubic-bezier(.65,.05,.36,1) 1s;
  &:hover, &:focus {
    box-shadow: 0 0 1px 1px rgba(193, 194, 190, 0.46);;
  }

  &__img {
    display: block;
    margin: 0;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    img{
      width:100%;
      transition: all 1s cubic-bezier(.46,.03,.52,.96);
      transition-property: all;
      transition-duration: 1s;
      transition-timing-function: ease;
      transition-delay: 0s;
      -webkit-filter: brightness(80%);
      transform: scale(1.05);
    }
    &:hover {
      img {
        transform: scale(1.1);
        -webkit-filter: brightness(120%);
      }
    }
  }

  &__title {
    margin: 0;
    flex: 25px;
    text-align: center;
    margin: .8em 0;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 1px;
  }
  &__desc {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.5;
    margin: 0;
  }
  &__btn {
    @extend .btn;
    font-size: 20px;
    margin: 1em 0;
  }
}