.l-slider {
  background: $color-dark;
  @include from($md) {
    background:transparent url('../img/slides/slide-3.jpg') center top no-repeat;
  }
  background-size: auto;
}
.slider {
  @include row-flex();
  @include wrapper();
  box-sizing: border-box;
  justify-content: space-between;
  padding: 39px 0;
  min-height: 626px;
  @include to($sm){
    padding: 2vh 3vw;
  }
  &_pricepage{
    min-height: auto;
  }
  &_right {
    justify-content: end;
  }
  &__form {
    @include size(4);
    @include size-md(6);
    @include size-sm(12);
    @include to($sm) {
      width: 100%;
    }
    &_pricepage {
      @include size(5);
      @include size-sm(12);
      @include to($sm) {
        text-align: center;
      }

    }
  }
  &__desc {
    @include size(5);
    @include size-sm(12);
    align-self: flex-end;
    @include to($sm) {
      text-align: center;
    }
    &_pricepage {
      align-self: auto;
    }
  }
  &__title {
    color: $color-accent;
    font-family: Roboto;
    font-size: 26px;
    font-weight: 300;
    line-height: 1.08;
    text-align: left;
    @include to($sm) {
      font-size: 7vw;
      text-align: center;
      padding: .2em 0;
      line-height: 1.5;
      margin: 0;
      display: block;
    }
    &_pricepage {
      font-size: 31px;
      font-weight: 500;
      display: block;
    }
  }
  &__desc{
    @include to($sm) {
      font-size: 16px;
      margin: auto;
    }
    font-family: Roboto;
    color: $color-text-light;
    strong {
      font-size: 25px;
      font-weight: 900;
      text-align: left;
    }
  }
  &__phone {
    font-size: 45px;
    font-weight: 300;
    color: $color-accent;
    @include to($sm) {
      font-size: 32px;
    }

  }
  &__text {
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
    @include to($sm) {
      font-size: 16px;
      text-align: justify;
    }
  }
}
.f-try {
  background-color: transparentize($color-text-dark, .2);
  border: 1px solid rgb(50,40,60);
  padding: 40px 28px;
  margin-top: 44px;
  @include to($sm){
    padding: 35px 0;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 20px;
  }
}