section.l-aboutus
  .aboutus
    .aboutus__block
      img(class="aboutus__img", src="../img/logo.png"
        alt="Школа танцев", title="Школа танцев")
      h2.aboutus__title История школы танца
      p.aboutus__desc Наша школа всегда полна свежих и разных идей. Мы постараемся расширять спектр танцевальных направлений, создавая прекрасные условия для комфортного обучения. При первом посещении школы Вы можете взять пробную тренировку на любое из направлений. Цены доступны для каждого, а разработанная система скидок и акций Вас порадует. Администраторы с удовольствием проконсультируют и помогут выбрать вместе с Вами удобное время посещения, запишут на занятие.
      button.aboutus__btn Подробнее о танцах