form.promo__form
  label(class="promo__form-label", for="promo_styles") Выберите направление
  select(class="promo__select", id="promo_styles")
    option Exotic PoleDance
    option Crossfit
    option Zumba Deluxe
  select(class="promo__select", id="promo_count")
    option(selected) 4 занятия
    option 8 занятий
    option 12 занятий
    option 16 занятия
  div.promo__price 27 бел. руб.
  input(class="promo__textfield", type="phone", name="promo_phone", placeholder="+375")
  button(type="submit", class="promo__btn") Забронировать абонемент