.f-try
  form
    input.textfield(type="text", name="try_name" placeholder="Ваше имя")
    input(type="hidden", name="lead_from", value="Пробное занятие")
    select.select
      option(disabled, selected) Направление
      option(value="Exotic PoleDance") Exotic PoleDance
      option(value="PoleDance") PoleDance
      option(value="Stretching") Stretching
      option Zumba Deluxe
    input.textfield(type="phone", name="phone", placeholder="+375")
    button(type="submit", class="btn") Записаться на пробное занятие
