.f-try
  form
    input.textfield(type="text", name="try_name" placeholder="Ваше имя")
    select.select
      option(disabled, selected) Направление
      option Exotic PoleDance
      option Crossfit
      option Zumba Deluxe
    input.textfield(type="phone", name="try_phone", placeholder="+375")
    button(type="submit", class="btn") Записаться на пробное занятие
