section.l-gyms
    .news__list
        .gym-card
            .gym-photo
                h2.gym-photo__title Зал КОНТИНЕНТ
                +resp-img("../img/gym/kont1.jpg",'gym-photo__image','Зал в ТЦ "Континент"')
            .gym-card__adress г.Витебск<wbr> пр-т Строителей, 1<wbr> ТЦ "Континент" <wbr>2-й этаж 
                br
                a.link(href="tel:+375297060303") +375 29 7060303
        .gym-card
            .gym-photo
                h2.gym-photo__title Зал с ПИЛОНАМИ
                +resp-img("../img/gym/pilon1.jpg",'gym-photo__image','Зал с пилонами"')
            .gym-card__adress г.Витебск<wbr/> ул. Ленина, д.52/13<wbr/> Здание «Белпочты» <wbr/>2-й этаж
        .gym-card
            .gym-photo
                h2.gym-photo__title Зал с ПОЛОТНАМИ
                +resp-img("../img/gym/polotna1.jpg",'gym-photo__image','Зал с полотнами"')
            .gym-card__adress г.Витебск<wbr/> ул. Ленина, д.52/13<wbr/> Здание «Белпочты» <wbr/>2-й этаж