ul.mainmenu
      li.mainmenu__item
        a.mainmenu__link(href="/index.html")
          span.mainmenu__text Главная
      li.mainmenu__item
        a.mainmenu__link(href="/styles.html")
          span.mainmenu__text Направления
      li.mainmenu__item
        a.mainmenu__link(href="/kids.html")
          span.mainmenu__text Цирковая студия
      li.mainmenu__item
        a.mainmenu__link(href="/schedule.html")
          span.mainmenu__text Расписание
      li.mainmenu__item
        a.mainmenu__link(href="/trainers.html")
          span.mainmenu__text Преподаватели
      li.mainmenu__item
        a.mainmenu__link(href="/price.html")
          span.mainmenu__text Цены
      li.mainmenu__item
        a.mainmenu__link(href="/contact.html")
          span.mainmenu__text Контакты