ul.mobilemenu
    li.mobilemenu__item
      a.mobilemenu__link(href="/")
        span.mobilemenu__text Главная   
    li.mobilemenu__item
      a.mobilemenu__link(href="/styles.html")
        span.mobilemenu__text Стили танцев
    li.mobilemenu__item
      a.mobilemenu__link(href="/kids.html")
        span.mobilemenu__text Цирковая студия
    li.mobilemenu__item
      a.mobilemenu__link(href="/schedule.html")
        span.mobilemenu__text Расписание
    li.mobilemenu__item
      a.mobilemenu__link(href="/trainers.html")
        span.mobilemenu__text Преподаватели
    //- li.mobilemenu__item
    //-   a.mobilemenu__link(href="/price.html")
    //-     span.mobilemenu__text Акции и цены
    li.mobilemenu__item
      a.mobilemenu__link(href="contact.html")
        span.mobilemenu__text Контакты
    br
    include social.pug