section.l-news
  .news
    hr(class="line line_short")
    h2.news__title Последние новости школы
    .news__list
      .t-news
        figure.t-news__img  
          img(src="../img/news/news1.jpg")
        h3.t-news__title Новая программа для детей
        p.t-news__desc До конца ноября в студии «Амадина» действует скидка 15% на месячный абонемент (занятия 4 раза в неделю, 16 тренировок) для детей 5-8 лет. Стоимость абонемента — 85 рублей (стоимость ранее — 100 руб.)
        p.t-news__desc В этот абонемент включены самые разнообразные занятия для развития ребёнка: воздушная гимнастика, спортивная акробатика, эквилибристика и жонглирование, актёрское мастерство и сценическая речь, а так же PoleKids (с 8 лет).
        button.t-news__btn Подробнее ...
      .t-news
        figure.t-news__img  
          img(src="../img/news/news2.jpg")
        h3.t-news__title Бесплатные тренировки для новичков по BootyDance
        p.t-news__desc Для тех, кто ещё не занимался в PoleDeluxe, школа предлагает на этой неделе посетить бесплатные тренировки по модному сейчас направлению BootyDance.
        p.t-news__desc Расписание (зал «Континент») <br>Вторник в 20:00.<br>Среда в 20:00 и 21:00.<br>Пятница в 20:00.<br>Воскресенье в 19:00
        button.t-news__btn Подробнее ...
      .t-news
        figure.t-news__img  
          img(src="../img/news/news3.jpg")
        h3.t-news__title Набор в группу Exotic
        p.t-news__desc Школа танца и фитнеса PoleDeluxe проводит набор по направлению Exotic PoleDance к преподавателю Юлии Роговой в группу на вечернее время. Уровень подготовки: продолжение занятий. Занятия проходят по понедельникам в 20:00 в зале на улице Ленина, 52/13. Если ты не записан — сейчас самое время. Поспеши, в группе осталось всего 6 мест!
        button.t-news__btn Подробнее ...
