section.l-slider
  .slider
    div.slider__form
      span.slider__title Первое пробное занятие всего за 3 рубля!
      br
      div.slider__text При покупке абонемента на пробном занятии: пробное занятие БЕСПЛАТНО<br> + 1 занятие в подарок!
      include f-try4free.pug
    div.slider__desc
      strong Запись на тренировку по телефону
      br
      span.slider__phone +375 29 539-39-36