section.l-styles
  .styles
    hr(class="line line_short")
    h2.styles__title Наши направления
    .styles__list
      .t-style
        figure.t-style__img
          img(src="../img/styles/3359.jpg", srcset="../img/styles/3359@2x.jpg 2x, ../img/styles/3359@3x.jpg 3x", alt="Exotic PoleDance")
        header.t-style__header
          h3.t-style__title Exotic PoleDance
          span.t-style__subtitle танец на пилоне
        .t-style__schedule
          a.btn Смотреть расписание 
      .t-style
        figure.t-style__img
          img(src="../img/styles/pkgl-3-y-aj-6-g.jpg", srcset="../img/styles/pkgl-3-y-aj-6-g@2x.jpg 2x, ../img/styles/pkgl-3-y-aj-6-g@3x.jpg 3x", alt="Crossfit")
        header.t-style__header
          h3.t-style__title Crossfit
          span.t-style__subtitle кросс-фит
        .t-style__schedule
          a.btn Смотреть расписание
      .t-style
        figure.t-style__img
          img(src="../img/styles/mwa-2-b-5-l-1-fk.jpg", srcset="../img/styles/mwa-2-b-5-l-1-fk@2x.jpg 2x, ../img/styles/mwa-2-b-5-l-1-fk@3x.jpg 3x", alt="Zumba deluxe")
        header.t-style__header
          h3.t-style__title Zumba deluxe
          span.t-style__subtitle зумба
        .t-style__schedule
          a.btn Смотреть расписание

    a.btn_allstyles(href="/styles.html") Посмотреть все направления
