section.l-trainers
  .trainers
    hr(class="line line_short")
    h2.trainers__title Наши преподаватели
    .trainers__list
      .t-trainer
        figure.t-trainer__img
          img(src="../img/trainers/3359.jpg", alt="Exotic PoleDance")
        header.t-trainer__header
          h3.t-trainer__title Ирина
          span.t-trainer__subtitle хореограф
      .t-trainer
        figure.t-trainer__img
          img(src="../img/trainers/2.jpg", alt="Exotic PoleDance")
        header.t-trainer__header
          h3.t-trainer__title Ирина
          span.t-trainer__subtitle хореограф
      .t-trainer
        figure.t-trainer__img
          img(src="../img/trainers/3.jpg", alt="Exotic PoleDance")
        header.t-trainer__header
          h3.t-trainer__title Ирина
          span.t-trainer__subtitle хореограф
    a.trainers__btn(href="/trainers.html") Посмотреть всех преподавателей
