-
	var schedule = [
		{
			dayOfWeek: "Понедельник",
			plan: [
					
				{
					time: "10:00",
					text: "Стретчинг"
				},

				{
					time: "15:00",
					text: "DeluxeBody"
				},
				{
					time: "16:00",
					text: "Стретчинг"
				},
				{
					time: "17:00",
					text: "ПОЛОТНА"
				},
				{
					time: "18:00",
					text: "Стретчинг"
				},
				{
					time: "19:00",
					text: "Deluxe ZUMBA"
				},
				{
					time: "20:00",
					text: "Lady Dance"
				},
				{
					time: "21:00",
					text: "Lady Dance (новички)"
				},

			],
		},
		{
			dayOfWeek: "Вторник",
			plan: [

				{
					time: "15:00",
					text: "DeluxeBody"
				},
				{
					time: "16:00",
					text: "Стретчинг"
				},
				{
					time: "17:00",
					text: "ПОЛОТНА"
				},
				{
					time: "18:00",
					text: "Стретчинг"
				},
				{
					time: "20:00",
					text: "Lady Dance"
				},
				{
					time: "21:00",
					text: "Lady Dance (новички)"
				},

			],
		},
		{
			dayOfWeek: "Среда",
			plan: [		
				{
					time: "10:00",
					text: "ПОЛОТНА"
				},
				{
					time: "15:00",
					text: "DeluxeBody"
				},
				{
					time: "16:00",
					text: "Стретчинг"
				},
				{
					time: "17:00",
					text: "ПОЛОТНА"
				},
				{
					time: "18:00",
					text: "Стретчинг"
				},
				{
					time: "21:00",
					text: "Lady Dance (новички)"
				},

			],
		},
		{
			dayOfWeek: "Четверг",
			plan: [	
				{
					time: "10:00",
					text: "Deluxe ZUMBA"
				},
				{
					time: "15:00",
					text: "DeluxeBody"
				},
				{
					time: "16:00",
					text: "Стретчинг"
				},
				{
					time: "17:00",
					text: "ПОЛОТНА"
				},
				{
					time: "18:00",
					text: "Стретчинг"
				},
				{
					time: "19:00",
					text: "Deluxe ZUMBA"
				},
				{
					time: "20:00",
					text: "Lady Dance"
				},
				{
					time: "21:00",
					text: "Lady Dance (новички)"
				},

			],
		},
		{
			dayOfWeek: "Пятница",
			plan: [
				{
					time: "9:00",
					text: "ПОЛОТНА"
				},				
				{
					time: "16:00",
					text: "Стретчинг"
				},
				{
					time: "17:00",
					text: "ПОЛОТНА"
				},
				{
					time: "18:00",
					text: "Стретчинг"
				},
				{
					time: "19:00",
					text: "Deluxe ZUMBA"
				},
				{
					time: "20:00",
					text: "Lady Dance"
				},
				{
					time: "21:00",
					text: "Lady Dance (новички)"
				},

			],
		},
		{
			dayOfWeek: "Суббота",
			plan: [
				{
					time: "9:00",
					text: "Стретчинг"
				},				
				{
					time: "15:00",
					text: "DeluxeBody"
				},
				{
					time: "16:00",
					text: "Стретчинг"
				},
				{
					time: "17:00",
					text: "ПОЛОТНА"
				},
				{
					time: "18:00",
					text: "Стретчинг"
				},
				{
					time: "19:00",
					text: "Deluxe ZUMBA"
				},
				{
					time: "20:00",
					text: "Lady Dance"
				},
				{
					time: "21:00",
					text: "Lady Dance (новички)"
				},

			],
		},
		{
			dayOfWeek: "Воскресенье",
			plan: [
				{
					time: "9:00",
					text: "DeluxeBody"
				},				
				{
					time: "10:00",
					text: "Стретчинг"
				},
				{
					time: "12:00",
					text: "DeluxeBody"
				},
				{
					time: "15:00",
					text: "DeluxeBody"
				},
				{
					time: "16:00",
					text: "Стретчинг"
				},
				{
					time: "17:00",
					text: "ПОЛОТНА"
				},
				{
					time: "18:00",
					text: "Стретчинг"
				},
				{
					time: "19:00",
					text: "Deluxe ZUMBA"
				},
				{
					time: "20:00",
					text: "Lady Dance"
				},
				{
					time: "21:00",
					text: "Lady Dance (новички)"
				},

			],
		},
		
	];