section.l-promo-list
  .section
    hr(class="line line_short")
    h2.section__title Акции
    ul.promo-list
      li.promo-item
        .promo-item__image.bg-promo2
          .promo-item__label
            span.promo-item__label-text 10
              sup %
            span.promo-item__label-text_line2 скидка
        .promo-item__desc
          p.promo-item__text На все утренние тренировки
          p.promo-item__text_accent По фиксированному графику
          p.promo-item__text_accent-small в будние дни
          p.promo-item__text_accent-noup c 9-00 до 14-00

      li.promo-item
        .promo-item__image.bg-promo3
          .promo-item__label
            span.promo-item__label-text 8
              sub руб.
        .promo-item__desc
          p.promo-item__text Разовое занятие
          p.promo-item__text_accent На любое направление


      li.promo-item
        .promo-item__image.bg-promo4
          .promo-item__label
            span.promo-item__label-text 30
              sub руб.
        .promo-item__desc
          p.promo-item__text_accent Постановка танца
          p.promo-item__text 1 час
        

      li.promo-item
        .promo-item__image.bg-promo5
          .promo-item__label
            span.promo-item__label-text 3
              sub руб.
        .promo-item__desc
          p.promo-item__text Пробная тренировка на любое направление*
          p.promo-item__text_accent При покупке абонeмента
          p.promo-item__text пробная тренировка в подарок
          p.promo-item__text_acccent-small *кроме приватного танца и усиленной тренировки