doctype html
html(lang = "ru")
  include partial/head.pug
  body.page
    .wrapper
      include partial/header.pug
      include partial/slider.pug
      include partial/styles.pug
      include partial/aboutus.pug
      include partial/news.pug
      include partial/features.pug
      include partial/trainers.pug
      include partial/footer.pug


