.bg-promo2 {
	@include bg-retina('/img/promo/promo2', jpg, 3); 
}
.bg-promo3 {
	@include bg-retina('/img/promo/promo3', jpg, 3); 
}
.bg-promo4 {
	@include bg-retina('/img/promo/promo4', jpg, 3); 
}
.bg-promo5 {
	@include bg-retina('/img/promo/promo5', jpg, 3);
}
.bg-trainers {
	@include bg-retina('/img/bg_trainers', jpg, 3);
	background-position: left top;
	max-height: 475px;
}
.bg-puteeva {
	@include bg-retina('/img/trainers/puteeva_wide', jpg, 3);
	text-shadow: 0 2px 4px #000000;
	max-height: 475px;
}
.bg-lysova {
	@include bg-retina('/img/trainers/lysova_wide', jpg, 3);
	text-shadow: 0 2px 4px #000000;
	max-height: 475px;
}
.bg-kolbun {
	@include bg-retina('/img/trainers/kolbun_wide', jpg, 3);
	text-shadow: 0 2px 4px #000000;
	max-height: 475px;
}
.bg-makarova {
    @include bg-retina('/img/trainers/makarova_wide', jpg, 3);
    text-shadow: 0 2px 4px #000000;
    max-height: 475px;
}
.bg-drozdova {
    @include bg-retina('/img/trainers/drozdova_wide', jpg, 3);
    text-shadow: 0 2px 4px #000000;
    max-height: 475px;
}
.bg-marianna {
    @include bg-retina('/img/trainers/marianna_wide', jpg, 3);
    text-shadow: 0 2px 4px #000000;
    max-height: 475px;
}

/* Style pages */
.bg-zumba {
    @include bg-retina('/img/styles/zumba_wide', jpg, 3);
    text-shadow: 0 2px 4px #000000;
    max-height: 475px;
}
.bg-stretching {
    @include bg-retina('/img/styles/stretching_wide', jpg, 3);
    text-shadow: 0 2px 4px #000000;
    max-height: 475px;
}
.bg-contemp {
    @include bg-retina('/img/styles/contemp_wide', jpg, 3);
    text-shadow: 0 2px 4px #000000;
    max-height: 475px;
}
.bg-booty {
    @include bg-retina('/img/styles/booty_wide', jpg, 3);
    text-shadow: 0 2px 4px #000000;
    max-height: 475px;
}
.bg-vogue {
    @include bg-retina('/img/styles/vogue_wide', jpg, 3);
    text-shadow: 0 2px 4px #000000;
    max-height: 475px;
}
.bg-polotna {
    @include bg-retina('/img/styles/polotna_wide', jpg, 3);
    text-shadow: 0 2px 4px #000000;
    max-height: 475px;
}
.bg-dancemix {
    @include bg-retina('/img/styles/dancemix_wide', jpg, 3);
    text-shadow: 0 2px 4px #000000;
    max-height: 475px;
}
.bg-deluxebody {
    @include bg-retina('/img/styles/deluxebody_wide', jpg, 3);
    text-shadow: 0 2px 4px #000000;
    max-height: 475px;
}
.bg-poledance {
    @include bg-retina('/img/styles/poledance_wide', jpg, 3);
    text-shadow: 0 2px 4px #000000;
    max-height: 475px;
}
.bg-exoticpole {
    @include bg-retina('/img/styles/exoticpole_wide', jpg, 3);
    text-shadow: 0 2px 4px #000000;
    max-height: 475px;
}
.bg-ladydance {
    @include bg-retina('/img/styles/ladydance_wide', jpg, 3);
    text-shadow: 0 2px 4px #000000;
    max-height: 475px;
}
.bg-jazzfunk {
    @include bg-retina('/img/styles/jazzfunk_wide', jpg, 3);
    text-shadow: 0 2px 4px #000000;
    max-height: 475px;
}
