@import "vendor/smart-grid";
@import "fonts";
@import "vendor/normalize";
@import "vendor/hover-css/polehover";
@import "vendor/hamburgers/hamburgers";
@import "variables";
@import "mixins";
*, *:before, *:after {
  box-sizing: border-box;
}
body,
html,
.wrapper{
  width: 100%;
}
html{
  background-color: $color-dark;
}
body{ 
  font-family: $font-family-base;
  min-height: 100vh;
  width: 100%;
  color: $color-light;
  background-color: $color-dark;
  line-height: 1.5;
  font-weight: 300;
}
option, select {
   outline: none;
   border: none;
}
select:-moz-focusing {
  color: transparent;
   text-shadow: 0 0 0 #000;
}
.page {
  background-color: $color-dark;
}
.section {
  @include wrapper();
  &__title {
    padding-bottom: 1em;
    font-family: Roboto Condensed;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    color: $color-light;
  }
  &__desc {
    font-family: Roboto;
    font-size: 16px;
    color: $color-light;
  }
}
// Buttons

.btn {
  padding: .9em 1em;
  display: inline-block;
  min-width: 250px;
  max-width: 100%;
  text-transform: uppercase;
  font-family: Roboto Condensed;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: $color-text-dark;
  border: none;
  outline: none;
  border-radius: 100px;
  background-image: linear-gradient(to bottom, #fcfa89, #faa72b);
  transition: all 0.5s ease-out;
  &:hover, &:focus {
    background: #fcfa89;
    cursor: pointer;
  }
  &_tryform {
    margin-top: 23px;
    width: 245px;
  }
}
.link {
  color: $color-accent;
}
.line {
  border-color: $color-accent;
  border-width: 1px;
  @include wrapper();
    &_short {
      border: none;
      border-bottom: 3px solid orange;
      width: 90px;
    }
    &_left {
      display: inline-block;
    }
}
//forms
.textfield {
  box-sizing: border-box;
  width: 245px;
  padding: 6px 8px 5px 8px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  text-align: left;
  color: #000000;
  margin-bottom: 10px;
  border: none;
  outline-color: $color-accent;
  transition: all 0.5s ease-out;
}
.select {
  width: 245px;
  padding: 7px 8px 6px 8px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  text-align: left;
  color: #000000;
  outline-color: $color-accent;
  background-color: white;
  appearance: none!important;
    -webkit-appearance: none;
    -moz-appearance: none;
  background-image: url('../img/select_arrow.svg'),
                    linear-gradient(to bottom, #fcfa89, #faa72b);
  background-size: 25px 25px, 43px 100%;
  background-position: right 8px center,right center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  transition: all 0.5s ease-out;
}
//helpers
.hide-mobile {
  @include to($sm) {
    display: none;
  }
}
.hide-desktop {
  @include from($sm) {
    display: none;
  }
}

//blocks
@import "block/header";
@import "block/mmenu";
@import "block/slider";
@import "block/carousel";
@import "block/styles";
@import "block/aboutus";
@import "block/news";
@import "block/features";
@import "block/trainers";
@import "block/promo";
@import "block/footer";
@import "block/price";
@import "block/schedule";
@import "block/gym";
@import "block/excerpt";
@import "bg-images";